@media (max-width: 992px) {
	.navbar-collapse {
		background: var(--background-dark-secondary);
		padding-left: 1rem;
	}

	.hero-buttons {
		
	}

}

@media (max-width: 768px) {
	/* Call to action buttons */

	/* .btn {
		margin-top: 1rem;
	} */
}

@media (max-width: 576px) {
	/* Call to action buttons */

	#hero h1 {
		text-align: center;
	}

	#hero p {
		text-align: center;
	}

	#about h2 {
		text-align: center;
	}

	#about p {
		text-align: center;
	}

	#contact h2 {
		text-align: center;
	}

	#button-head {
		text-align: center;
	}
}
