@media (max-width: 992px) {
	.navbar-collapse {
		background: white;
		padding-left: 1rem;
	}
}

@media (max-width: 768px) {
	/* Call to action buttons */

	.btn {
		margin-top: 1rem;
	}
}

@media (max-width: 576px) {
	/* Call to action buttons */

	#hero h1 {
		text-align: center;
	}

	#hero p {
		text-align: center;
	}

	.btn {
		margin-top: 1rem;
	}

	#button-head {
		text-align: center;
	}
}
