@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800;900&display=swap');

:root {
	--main-accent-color: #7cf295;
	--section-title-color-dark: white;
	--background-dark-primary: black;
	/* --background-dark-secondary: #0f0f0f; */
	--background-dark-secondary: #131313;
	--background-dark-button: #222222;
	--secondary-accent-red: #f2827c;
	--secondary-accent-yellow: #f2da7c;
	--secondary-accent-blue: #619ee8;
	--body-color: #8a8f98;
	--body-color-dark: white;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
	background-color: var(--background-dark-primary);
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 900;

}

.btn-input {
	color: var(--body-color-dark);
	background-color: var(--background-dark-button);
	border: none;
	height: 145%;
}

.btn-input:focus, .btn-input:active {
	color: var(--body-color-dark);
	background-color: var(--background-dark-button);
	border: none;

}

.btn-cta {
	border: none;
	color: var(--body-color);
	background-color: var(--background-dark-button);
	font-weight: 600;
	font-size: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 145%;
}

.btn-cta:hover {
	background-color: var(--main-accent-color);
	color: white;
	border: none;
}

.btn-cta:focus, .btn-cta:active {
	background-color:var(--main-accent-color);
	color: white;
	outline: none !important;
  	box-shadow: none;
}

/* Section title */

.section-title {
	position: relative;
}

h2.section-title-heading {
	color: var(--section-title-color-dark);
	padding-top: 2rem;
	font-weight: 700;
	font-size: 2.5rem;

}

.section-title::after {
	content: '';
	position: absolute;
}
/* Navigation */

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--background-dark-primary);
}

.navbar-brand {
	color: var(--section-title-color-dark) !important;
}
/* .navbar-collapse .navbar-nav {
	background-color: var(--background-dark-primary);
} */

@media (max-width: 992px)
{.navbar-collapse {
    /* background: var(--background-dark-secondary) !important; */

}}

.navbar-dark .navbar-nav .nav-link {
	color: var(--section-title-color-dark);
	font-weight: 600;
	font-size: 1.1rem;
	margin-right: 2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--main-accent-color);

}

.navbar.active {
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
}

/* Hero */

#hero {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-repeat: no-repeat;
	position: relative;
}

.main-hero-content h1 {
	line-height: normal;
	letter-spacing: 0.11rem;
	color: var(--section-title-color-dark);
}

.main-hero-content p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	line-height: 1.7rem;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--body-color);
}

.image-box img {
	position: relative;
	top: 2rem;
	transition: transform 0.3s; /* Animation */
}
.image-box img:hover {
	transform: scale(1.05); /* 110% zoom */
}

#hero::after {
	content: '';
	position: relative;
	background-color: var(--background-dark-primary);
	width: 100%;
	height: 15%;
	transform: skewY(-2deg);
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	left: 0;
}

/*  About  */

#about h3 {
	color: var(--section-title-color-dark);
	font-weight: 600;
	font-size: 1.5rem;
	
}

#about p {
	color: var(--body-color);
	font-size: 1.3rem;
	line-height: 1.7rem;
}

#about {
	background-color: var(--background-dark-secondary);
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Features Section */

#features {
	background-color: var(--background-dark-primary);
	padding-bottom: 6rem;
	padding-top: 5rem;
	color: white
}

.webapp-device img {
	width: 100%;
	height: 230px;
}

.image-features img {
	display: block;
	margin: 0 auto;
	transition: transform 0.3s; /* Animation */
}

.image-features img:hover {
	transform: scale(1.05); /* 110% zoom */
}


#features .feature-block {
	text-align: center;
}

#features h2 {
	color: white;
}

#features .feature-block h3 {
	color: var(--body-color-dark);
	font-weight: 600;
	font-size: 1.5rem;
}

#features .feature-block img {
	padding-bottom: 1rem;
}

#features .feature-block p {
	color: var(--body-color);
	font-size: 1.3rem;
	line-height: 1.7rem;
}

/*  Use Case */

#use-case {
	background-color: var(--background-dark-secondary);
	padding-top: 5rem;
	padding-bottom: 5rem;
}

li.borderless {
	border: none;	
}

.main-use-case-content h2 {
	color: white;
}

.main-use-case-content p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	line-height: 1.7rem;
	font-size: 1.7rem;
	font-weight: 500;
	color: var(--body-color);
}

.card-deck .card {
	background-color: var(--background-dark-button);
}

.card-deck .card h2 {
	color: var(--secondary-accent-red);
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
}

.card-deck .card .card-body p {
	color: var(--body-color-dark);
	text-align: center;
	font-size: 1.2rem;
	
}


/* Contact */

#contact {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--background-dark-primary);
}

.jumbotron {
	background-color: var(--background-dark-secondary);
}

.jumbotron h2 {
	color: var(--section-title-color-dark);
	font-size: 2.5rem;
	font-weight:800;
}


/*  Footer */

.page-footer {
	background-color: var(--background-dark-primary);
}

.page-footer h5 {
	color: var(--body-color-dark);

}

.page-footer p {
	color: var(--body-color);
	font-size: 1.3rem;
}

.page-footer a {
	color: var(--secondary-accent-blue);
}


.footer-copyright p {
	color: var(--body-color);
	font-size: 1rem;
	line-height: 1.7rem;
}
