@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600;800;900&display=swap');

:root {
	--main-accent-color: #7cf295;
	--section-title-color-dark: black;
	--secondary-accent-red: #f2827c;
	--secondary-accent-yellow: #f2da7c;
	--secondary-accent-blue: #619ee8;
	--body-color: #a19d9b;
	--body-color-dark: white;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Raleway', sans-serif;
}

h1 {
	font-family: 'Raleway', sans-serif;
	font-size: 2.6rem;
	line-height: 4rem;
	font-weight: 800;

}

.btn-input {
	
}

.btn-cta {
	border: none;
	color: white;
	background-color: var(--section-title-color-dark);
	font-weight: 600;
	font-size: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.btn-cta:hover {
	background-color: var(--main-accent-color);
	color: white;
	border: none;
}

.btn-cta:focus , .btn-cta:active {
	background-color:var(--main-accent-color);
	color: white;
	outline: none !important;
  	box-shadow: none;
}

/* Section title */

.section-title {
	position: relative;
}

h2.section-title-heading {
	color: var(--section-title-color-dark);
	padding-top: 2rem;
	font-weight: 700;
	font-size: 1.8rem;

}

.section-title::after {
	content: '';
	position: absolute;
}
/* Navigation */

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: white;
}

.navbar-light .navbar-nav .nav-link {
	color: black;
	font-weight: 600;
	font-size: 1.1rem;
	margin-right: 2rem;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--main-accent-color);
	background-color:white;
}

.navbar.active {
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
}

/* Hero */

#hero {
	padding-top: 8rem;
	background-repeat: no-repeat;
	position: relative;
}

.main-hero-content h1 {
	line-height: normal;
	letter-spacing: 0.11rem;
}

.main-hero-content p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	line-height: 1.7rem;
	font-size: 1.7rem;
}

.image-box img {
	position: relative;
	top: 2rem;
}

#hero::after {
	content: '';
	position: relative;
	background-color: white;
	width: 100%;
	height: 15%;
	transform: skewY(-2deg);
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	left: 0;
}

/*  About  */

#about h3 {
	color: var(--section-title-color-dark);
	font-weight: 600;
	font-size: 1.5rem;
	
}

#about p {
	color: var(--body-color);
	font-size: 1rem;
	line-height: 1.7rem;
}

#about {
	position: relative;
	margin-top: 5rem;
}

/* Features Section */

#features {
	background-color: var(--section-title-color-dark);
	padding-bottom: 6rem;
	margin-top: 5rem;
	color: white
}

.webapp-device img {
	width: 100%;
	height: 230px;
}

#features img {
	display: block;
	margin: 0 auto;
}

#features .feature-block {
	text-align: center;
}

#features h2 {
	color: var(--main-accent-color);
}

#features .feature-block h3 {
	color: var(--body-color-dark);
	font-weight: 600;
	font-size: 1.5rem;

}

#features .feature-block img {
	padding-bottom: 1rem;
}

#features .feature-block p {
	color: var(--body-color);
	font-size: 1rem;
	line-height: 1.7rem;
}

/*  Use Case */

li.borderless {
	border: none;
	
}

/*  Sign-up */
#pricing {
	margin-top: 5rem;
}

/*  Footer */

.page-footer {
	background-color: var(--section-title-color-dark);
}

.page-footer h5 {
	color: var(--body-color-dark);
}

.page-footer p {
	color: var(--body-color);
}

.page-footer a {
	color: var(--secondary-accent-blue);
}


.footer-copyright p {
	color: var(--body-color);
	font-size: 1rem;
	line-height: 1.7rem;
}
