@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;800;900&display=swap');

:root {
	--main-accent-color: #7cf295;
	--section-title-color-dark: white;
	--background-dark-primary: black;
	/* --background-dark-secondary: #0f0f0f; */
	--background-dark-secondary: #131313;
	--background-dark-button: #222222;
	--secondary-accent-red: #f2827c;
	--secondary-accent-yellow: #f2da7c;
	--secondary-accent-blue: #619ee8;
	--body-color: rgba(161, 168, 184, 1);
	--body-color-dark: white;

	--nav-font-color: rgba(119, 126, 144, 1);
}

html {
	overflow-x: hidden;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	background-color: var(--background-dark-primary);
}

h1 {
	font-family: 'Poppins', sans-serif;
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 600;
}

p {
	font-size: 1rem;
}

.btn-input {
	color: var(--body-color-dark);
	background-color: var(--background-dark-button);
	border: none;
	height: 145%;
}

.btn-input:focus,
.btn-input:active {
	color: var(--body-color-dark);
	background-color: var(--background-dark-button);
	border: none;
}

.btn-contact {
	color: white;
	background: linear-gradient(
		161.23deg,
		rgba(34, 34, 36, 0.25) 12.68%,
		rgba(21, 21, 22, 0.25) 120.51%
	);
	border: 1px solid !important;
	border-image-source: linear-gradient(
		151.85deg,
		rgba(255, 255, 255, 0.44) -13.69%,
		rgba(255, 255, 255, 0) 82.57%
	);
	border-radius: 59px;
}

.btn-cta {
	border: none;
	color: var(--background-dark-primary);
	background-color: var(--main-accent-color);
	font-weight: 600;
	font-size: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 2rem;
	padding-right: 2rem;
	height: 145%;
	border-radius: 59px;
}

.btn-coming-soon {
	border: none;
	color: var(--body-color);
	background-color: var(--background-dark-button);
	font-weight: 600;
	font-size: 1rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 145%;
}

.btn-coming-soon:hover {
	color: var(--body-color);
}

.btn-cta:hover {
	background-color: var(--main-accent-color);
	color: white;
	border: none;
}

.btn-cta:focus,
.btn-cta:active {
	background-color: var(--main-accent-color);
	color: white;
	outline: none !important;
	box-shadow: none;
}

/* Section title */

.section-title {
	position: relative;
}

h2.section-title-heading {
	color: var(--section-title-color-dark);
	padding-top: 2rem;
	font-weight: 600;
	font-size: 2.5rem;
}

.sub-heading {
	color: var(--body-color);
	font-size: 1.3rem;
	line-height: 1.7rem;
}

.section-title::after {
	content: '';
	position: absolute;
}
/* Navigation */

.navbar {
	padding-top: 1.5rem;
	padding-bottom: 1.5rem;
	background-color: var(--background-dark-primary);
}

.navbar-brand {
	color: var(--section-title-color-dark) !important;
	font-size: 1.4rem;
	font-weight: 600 !important;
	margin-right: 5rem;
}
/* .navbar-collapse .navbar-nav {
	background-color: var(--background-dark-primary);
} */

.navbar-dark .navbar-nav .nav-link {
	color: var(--nav-font-color);
	font-weight: 300;
	font-size: 1rem;
	margin-right: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: var(--main-accent-color);
}

.navbar.active {
	box-shadow: 0 8px 8px -8px rgba(0, 0, 0, 0.2);
}

/* Hero */

#hero {
	padding-top: 8rem;
	padding-bottom: 8rem;
	background-repeat: no-repeat;
	position: relative;
}

.main-hero-content h1 {
	font-size: 3.5rem;
	letter-spacing: 0.15rem;
	color: var(--section-title-color-dark);
}

.main-hero-content p {
	margin-top: 2rem;
	margin-bottom: 3rem;
	line-height: 1.7rem;
	font-size: 1.3rem;
	font-weight: 500;
	color: var(--body-color);
}

.image-box img {
	position: relative;
	height: auto;
	width: auto;
	top: 2rem;
}

#hero::after {
	content: '';
	position: relative;
	background-color: var(--background-dark-primary);
	width: 100%;
	height: 15%;
	transform: skewY(-2deg);
	transform-origin: bottom right;
	bottom: 0;
	right: 0;
	left: 0;
}

#hero .ellipse {
	position: absolute;
	width: 764px;
	height: 764px;
	left: -280px;
	top: 30%;

	background: linear-gradient(
		145.18deg,
		#11a5d4 30.2%,
		rgba(17, 212, 60, 0) 91.95%
	);
	opacity: 0.3;
	filter: blur(176.037px);
	transform: matrix(1, 0, 0, -1, 0, 0);
	z-index: -1;
}

/*  About  */

#about h3 {
	text-align: left;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h3.green-title {
	color: var(--main-accent-color);
}

h3.blue-title {
	color: var(--secondary-accent-blue);
}

h3.yellow-title {
	color: var(--secondary-accent-yellow);
}

h3.red-title {
	color: var(--secondary-accent-red);
}

#about .card p {
	color: var(--body-color);
	line-height: 1.7rem;
	text-align: left;
}

.svg-icons {
	height: 2rem;
	width: auto;
	margin-bottom: 1rem;
}

#about .card {
	border-radius: 10%;
	background: linear-gradient(
		161.23deg,
		rgba(34, 34, 36, 0.25) 12.68%,
		rgba(21, 21, 22, 0.25) 120.51%
	);
	border: 1px solid !important;
	border-image-source: linear-gradient(
		151.85deg,
		rgba(255, 255, 255, 0.44) -13.69%,
		rgba(255, 255, 255, 0) 82.57%
	);
}

#about .card-body {
	margin-top: 2rem;
}

#about {
	position: relative;
	padding-top: 5rem;
	padding-bottom: 5rem;
}

/* Features Section */

#features .ellipse {
	position: absolute;
	width: 764px;
	height: 764px;
	left: 80%;
	top: 130%;

	background: linear-gradient(
		145.18deg,
		#d4cc11 30.2%,
		rgba(212, 204, 17, 0) 91.95%
	);
	opacity: 0.3;
	filter: blur(176.037px);
	transform: rotate(180deg);
}

#features .card {
	border-radius: 0%;
	width: 100%;
	height: 100%;
}

#features .color-cols {
	padding: 0%;
	padding-left: 0.5rem;
	padding-right: 1rem;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

#features .left-col {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

#features .yellow-phone img {
	position: absolute;
	left: 4.92%;
	right: -34.72%;
	top: 35%;
	bottom: 35.73%;
}

#features .yellow-card {
	color: rgba(91, 67, 18, 1);
	padding: 5%;
	background: linear-gradient(180deg, #f2da7c 0%, #dcbc3d 100%);
	border-radius: 29px;
	overflow: hidden;
}

#features .green-card-image img {
	position: absolute;
	height: 20rem;
	width: auto;
	left: -15%;
}

#features .green-card {
	color: rgba(16, 62, 23, 1);
	padding: 5%;
	background: linear-gradient(180deg, #6efa8c 0%, #23bd44 100%);
	border-radius: 29px;
}

#features .red-card {
	color: rgba(56, 10, 10, 1);
	padding: 5%;
	background: linear-gradient(180deg, #ee6962 6.53%, #b6342d 100%);
	border-radius: 29px;
}

#features .blue-card {
	color: rgba(14, 25, 64, 1);
	padding: 5%;
	background: linear-gradient(180deg, #1782d1 0%, #2fa2f9 100%);
	border-radius: 29px;
}

#features {
	background-color: var(--background-dark-primary);
	padding-bottom: 6rem;
	padding-top: 5rem;
	color: white;
}

.webapp-device img {
	width: 100%;
	height: 230px;
}

.image-features img {
	display: block;
	margin: 0 auto;
	width: 110%;
	height: auto;
}

#features h3 {
	font-weight: 600 !important;
}

/* Api-snippet */

#api-snippet .ellipse {
	position: absolute;
	width: 250px;
	height: 250px;
	left: 543.22px;
	top: 310%;

	opacity: 1;
	background: linear-gradient(
		145.18deg,
		#11a5d4 30.2%,
		rgba(17, 212, 60, 0) 91.95%
	);
	filter: blur(175.405px);
	transform: matrix(1, 0, 0, -1, 0, 0);
}

#api-snippet .image-box-code img {
	display: block;
	position: relative;
	height: auto;
	width: 80rem;
}

/*  Use Case */

#use-case .ellipse {
	position: absolute;
	width: 600px;
	height: 600px;
	left: -20%;
	top: 370%;

	background: linear-gradient(
		145.18deg,
		#11d45f 30.2%,
		rgba(17, 212, 60, 0) 91.95%
	);
	opacity: 0.3;
	filter: blur(176.037px);
	transform: matrix(1, 0, 0, -1, 0, 0);
}

#use-case {
	padding-top: 5rem;
}

#use-case h3 {
	font-weight: 600 !important;
	font-size: 1.5rem !important;
}

#use-case .green-card {
	color: rgba(16, 62, 23, 1);
	padding: 5%;
	background: linear-gradient(180deg, #6efa8c 0%, #23bd44 100%);
	border-radius: 29px;
	height: 15rem;
	overflow: hidden;
}

#use-case .green-image {
	height: 20rem;
	bottom: 10%;
}

#use-case .green-image img {
	width: 100%;
	height: 100%;
	margin: auto;
	display: block;
}

#use-case .card-case p {
	color: var(--body-color);
	line-height: 1.7rem;
	text-align: left;
}
#use-case .card-case {
	border-radius: 10%;
	background: linear-gradient(
		161.23deg,
		rgba(34, 34, 36, 0.25) 12.68%,
		rgba(21, 21, 22, 0.25) 120.51%
	);
	border: 1px solid !important;
	border-image-source: linear-gradient(
		151.85deg,
		rgba(255, 255, 255, 0.44) -13.69%,
		rgba(255, 255, 255, 0) 82.57%
	);
}

#use-case .card-body {
	margin-top: 2rem;
}

#use-case .star-icon {
	height: 1rem;
	width: auto;
	margin-bottom: 1rem;
}

#use-case .icons h3 {
	display: inline;
}

li.borderless {
	border: none;
}

/* Contact */

#contact {
	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: var(--background-dark-primary);
}

.jumbotron {
	background-color: var(--background-dark-secondary);
}

.jumbotron h2 {
	color: var(--section-title-color-dark);
	font-size: 2.5rem;
	font-weight: 600;
}

/*  Footer */

.page-footer {
	background-color: var(--background-dark-primary);
}

.page-footer h4 {
	color: var(--body-color-dark);
}

.page-footer h5 {
	color: var(--body-color-dark);
	font-weight: 300 !important;
	font-size: 1rem;
}

.page-footer p {
	color: var(--body-color);
}

.page-footer a {
	color: var(--body-color);
}

.footer-copyright p {
	color: var(--body-color);
	line-height: 1.7rem;
}

/* Sign-up section (contact page) */

#sign-up {
	padding-top: 8rem;
}

#sign-up .btn-input {
	color: var(--body-color-dark);
	background-color: var(--background-dark-button);
	border: none;
	height: 65%;
}

#sign-up .sign-in-form {
	padding-left: 5rem;
	padding-right: 5rem;
}

#sign-up p {
	color: var(--body-color);
}

#sign-up label {
	color: var(--body-color);
}

#sign-up .form-row {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

/* success section (success page) */

#success {
	padding-top: 8rem;
}

#success p {
	color: var(--body-color);
	font-size: 1.5rem !important;
}

#success .card {
	background-color: var(--background-dark-button);
	width: 75%;
}

#success .card h2 {
	color: var(--secondary-accent-blue);
	text-align: center;
	font-weight: 700;
	font-size: 2rem !important;
}

#success .card .card-body p {
	color: var(--body-color-dark);
	text-align: center;
	font-size: 1.2rem !important;
}
